.#*
*log
*~
*#*
.vagrant
.DS_Store
*.rpm
*.tar.gz
*.pid

/notes
/docs
/node_modules
/bin/update-docs
/bin/start-server
/.project
/lib/environments/local.js
/wiki

/var/*
!/var/.gitkeep

/static/_badges*
!/static/.gitkeep
/test.json
/bin/badges.json
/acceptance-test/local-config.js

/static/css/*.css
/static/js/nunjucks-templates.js
