<div draggable="true"
     class="badge"
     rel="popover"
     data-id="{{ badge.attributes.id }}"
     data-description="{{ badge.attributes.body.badge.description }}"
     data-issuer-name="{{ badge.attributes.body.badge.issuer.name }}"
     data-image-path="{{ badge.attributes.image_path }}"
     
     data-original-title="{{ badge.attributes.body.badge.name }}"
     data-content="Description: {{ badge.attributes.body.badge.description }}<br>
                   Issuer: {{ badge.attributes.body.badge.issuer.name }}"

     style="background: url('{{ badge.attributes.image_path }}'); background-size: 100% 100%">
</div>