<section>
  <header>
    <div class="title">Groups</div>
  </header>

  <ul class="listing">
    {% if groups.length == 0 %}
    <p class="noGroups">You have no groups yet!</p>
    {% endif %}
    {% for group in groups %}
      {% include "views/Backpack.Group.View.html" %}
    {% endfor %}
  </ul>

  <button class="create btn">Create New Group</button>
</section>

<!-- Backbone definitions -->
<div class="scripts" style="display:none">
  <!-- groups -->
  <script src="js/backbone/backpack.group.model.js"></script>
  <script src="js/backbone/backpack.group.views.js"></script>
  <script src="js/backbone/backpack.group.controller.js"></script>
  <!-- group listing -->
  <script src="js/backbone/backpack.groupListing,model.js"></script>
  <script src="js/backbone/backpack.groupListing.views.js"></script>
  <script src="js/backbone/backpack.groupListing.controller.js"></script>
</div>
