{% extends 'layout.html' %}

{% set activeNav = 'collections' %}

{% block body %}

<form style="display: none" action=''>
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
</form>

{% if not badges.length %}
  {% include 'no-badges.html' %}
{% else %}
<div class="row" style="position: relative;">

  <div class="span4">
    <div class="row">
      <div class="sticky span4">
        <hgroup class="separator">
          <h2>My Collections</h2>
          Organize badges the way you want
        </hgroup>
        <div id="groups" class="scroll span4">
          {% for group in groups %}
          <div class='group' data-id="{{group.attributes.id}}" data-url="{{group.attributes.url}}">
            <input class='groupName' type='text' value='{{group.attributes.name|e}}' style='display: block'>
            <span class='icon delete'>&times;</span>
            <span class='icon share' {% if not group.attributes.badgeObjects %}style='display: none'{% endif %} title='Share this group'>5</span>
            <span class='public'>
              <label>
                <input type='checkbox' class='js-privacy' {% if group.attributes.public %}checked{% endif %}>
                <span>public</span>
              </label>
            </span>

            {% for badge in group.attributes.badgeObjects %}
            <span draggable="true" class="openbadge" data-id="{{badge.attributes.id}}">
              <img src="{{ badge.attributes.imageUrl }}" width="64px"/>
            </span>
            {% endfor %}
          </div>
          {% endfor %}

          <div class='group isNew'>
            <input class='groupName' type='text' value='New Collection'>
            <span class='icon delete'>&times;</span>
            <span class='icon share' title='share this group'>5</span>
            <hgroup class="instructions">
              <h3>Drag a badge here</h3>
              to create a Collection.
            </hgroup>
            <span class='public'>
              <label>
                <input type='checkbox' class='js-privacy'>
                <span>public</span>
              </label>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="span8 badge-area">
    <div class="row">
      <ul id="badges" class="js-badges badge-list small-cards">
        {% for badge in badges %}
          <li class="span3 openbadge-container">
            <div class="openbadge" data-id="{{badge.attributes.id}}">
              <img src="{{ badge.attributes.imageUrl }}" width="64">
              <p class="title" title="{{ badge.attributes.body.badge.name|e }}">{{ badge.attributes.body.badge.name|e }}</p>
              <p class="issuer">Issuer: {{ badge.attributes.body.badge.issuer.name|e }}</p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

</div>
{% endif %}

{% endblock %}
{% block scripts %}

<!-- bootstrap some data -->
<script>
  window.badgeData = {};
  {% for badge in badges %}
    window.badgeData[{{badge.attributes.id}}] = {{badge.serializedAttributes}};
  {% endfor %}
</script>

<!-- third party -->
{% if settings.useCompiledTemplates %}
  <script type="text/javascript" src="/js/nunjucks-min.js"></script>
  <script type="text/javascript" src="/js/nunjucks-templates.js"></script>
{% else %}
  <script type="text/javascript" src="/js/nunjucks-dev.js"></script>
{% endif %}
<script type="text/javascript" src="/js/underscore.js"></script>
<script type="text/javascript" src="/js/backbone.js"></script>
<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap-alert.js"></script>
<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap-tooltip.js"></script>
<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap-popover.js"></script>

<!-- my libraries -->
<script type="text/javascript" src="/js/jquery.sync.js"></script>
<script type="text/javascript" src="/js/backpack.js"></script>

{% endblock %}
