<!DOCTYPE html>
<meta charset="utf-8">
<meta http-equiv="X-CSRF-Token" content="{{ csrfToken }}">
<meta http-equiv="X-Current-User" content="{{ email }}">
{% if framed %}
<script>
  /* Requesting the framed badge acceptance screen from outside
   * an iframe probably means we're coming from Persona's redirect
   * on account creation. Let's kick over to the welcome screen instead.
   */
   if (window.top === window.self) {
    window.location = "/issuer/welcome";
  }
</script>
{% endif %}
<link rel="stylesheet" href="/css/badge-accept.css" type="text/css" media="all" />
<title>Accept Your Badges</title>
<body class="{% if framed %}framed{% else %}frameless{% endif %}">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid" style="position: relative;">
      <img class="brand" src="/images/logo.png" alt="Mozilla Backpack logo" />
      <img src="/images/ajax-loader.gif" id="ajax-loader">
      <a class="close closeFrame" href="#">&times;</a>
    </div>
  </div>
</div>

<div id="body" class="container-fluid">
  <div id="messages"></div>
  <div id="welcome" class="narrow" style="display: none">
    <div class="logged-out">
      <h2>Hoorah!</h2>
      <p class="lead">
        You are about to send <strong class="badge-count">a badge</strong>
        to your Mozilla Backpack at <strong class="host"></strong>.
      </p>
      <p class="lead">Log in to do so.</p>
      <a class="persona-button dark js-browserid-link" href="#">
        <span>Log in or Sign up</span>
      </a>
    </div>
    <div class="logged-in">
      <p class="lead">You are about to send <strong class="badge-count">a badge</strong>
      to your Mozilla Backpack at <strong class="host"></strong>.</p>
      <button class="next btn btn-primary">Hoorah!</button>
      <a href="#" class="logout">
        I am not <span class="email"></span>.
      </a>
    </div>
  </div>
  <div id="farewell" class="narrow" style="display: none">
    <p class="badges-0 lead" style="display: none">You didn't add any open badges to your backpack.</p>
    <p class="badges-1 lead" style="display: none">
      You've sent <strong>1 badge</strong> to your Mozilla Backpack.
    </p>
    <p class="badges-many lead" style="display: none">
      You've sent <strong class="badges-added"></strong> badges to your
      Mozilla Backpack.
    </p>
    <p class="lead">
      Visit your <a href="/" target="_blank">Backpack</a> to manage
      and share your open badges.
    </p>
    <button class="next btn btn-primary">Thanks</button>
  </div>
  <div id="badge-ask" style="display: none">
  </div>
  <div id="test-info" style="display: none">
    <hr>
    <p style="font-size: smaller"><strong>This page is operating in test mode.</strong> All data and network operations
    are simulated. For information on the API used to communicate with this
    page, see the
    <a href="https://github.com/mozilla/openbadges/wiki/Issuer-API">Issuer
    API Documentation</a>.</p>
    <div class="log"></div>
  </div>
</div>
<div id="templates" style="display: none">
  <div id="accept-failure-template">
    <div class="alert alert-error">
      <a class="close">×</a>
      <strong>Sorry!</strong> An error occurred when trying to add the
      <em>[[ assertion.badge.name ]]</em> badge to your backpack.
    </div>
  </div>
  <div id="already-exists-template">
    <div class="alert">
      <a class="close">×</a>
      You appear to already have the
      <em>[[ assertion.badge.name ]]</em> badge in your backpack.
    </div>
  </div>
  <div id="owner-mismatch-template">
    <div class="alert alert-error">
      <a class="close">×</a>
      It appears that the
      <em>[[ assertion.badge.name ]]</em> badge was not awarded to you ([[ user ]]).
    </div>
  </div>
  <div id="inaccessible-template">
    <div class="alert alert-error">
      <a class="close">×</a>
      We have encountered the following problem: <em>[[ error.message ]]</em>
    </div>
  </div>
  <div id="login-error-template">
    <div class="alert alert-error">
      <strong>Sorry!</strong> An error occurred when trying to log you in.
    </div>
  </div>
  <div id="badge-ask-template" style="display: none">
    <div class="row">
      <div class="header span8">
        <h2>Accept this badge?</h2>
        <button class="accept btn btn-primary">Yes</button>
        <button class="reject btn btn-danger">No</button>
      </div>
      <div class="span3 columns management">
        <img class="badge-image" src="[[assertion.badge.image]]" alt="Badge Image"/>
      </div>
      <div class="span5 columns badge-details">
        <dl>
          <dt>Recipient</dt>
	        <dd>[[ unhashedRecipient ]]</dd>

          <dt>Name</dt>
          <dd>[[ assertion.badge.name ]]</dd>

          <dt>Description</dt>
          <dd>[[ assertion.badge.description ]]</dd>

          <dt>Criteria</dt>
          <dd><a href="[[assertion.badge.criteria]]">[[ assertion.badge.criteria ]]</a></dd>

          <dt>Issuer</dt>
          <dd>[[ assertion.badge.issuer.name ]] (<a href="[[assertion.badge.issuer.origin]]">[[ assertion.badge.issuer.origin ]]</a>)</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
<script src="{{ getBrowserIdScriptUrl() }}"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jschannel.js"></script>
<script src="/js/underscore.js"></script>
<script src="/js/backbone.js"></script>
<script src="/js/badge-accept/badge-accept.js"></script>
<script src="/js/badge-accept/main.js"></script>
{% if framed %}
  <script src="/js/badge-accept/build-channel.js"></script>
  <script>
    $(window).ready(function(){
      var channel = buildChannel();
    });
  </script>
{% else %}
  <script>
    $(window).ready(function(){
      window.issue({{assertions}}, function(){
        window.location = "/";
      });
    });
  </script>
{% endif %}
</body>
