<table class='information'>
  <colgroup>
    <col class="imageCol">
    <col class="dataCol">
  </colgroup>
  <tbody class="confirm-facebook-share">
    <tr>
      <td rowspan="80" class='image'>
        <img src="{{badge.attributes.imageUrl}}">
      </td>
    </tr>
    <tr>
      <td>
        <form action="/backpack/facebook" method="POST" class="facebook-share">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"></input>
        <input type="hidden" name="badge_body_hash" value="{{badge.attributes.body_hash}}"></input>
        <strong>{{badge.attributes.body.badge.issuer.name|e}}</strong>
        <p>{{badge.attributes.body.badge.description|e}}</p>
        <textarea name='facebookcomment' tabindex=1 class='comment' placeholder='Add your personal comment'></textarea>
        <span class="auto_push"><input type="checkbox" name="facebook_automatic_push" value="facebook_automatic_push">Automatically publish badges to Facebook when they are added to my backpack.</span></td>
      </td>
    </tr>
    <tr>
      <td>
        <div class='buttons'>
          <span class="btn nope">Cancel</span>
          <button class='btn yep btn-primary'>Share on Facebook</button>
        </div>
        </form>
      </td>
    </tr>
  </tbody>
</table>