{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="span8 column">
    <div class="badgeInfo">
      <header>
        <img class="badgeImg" src="/_badges/dc06d0694b528052e950b15823f9a3b2.png"
          alt="Image for The Name of the Badge" />
        <div class="description">
          <h1>The Name of the Badge</h1>
          <p>This is the brief description of the badge.</p>
        </div>
      </header>
      <div class="details panel">
        <table>
          <thead><tr><th colspan="2" >Issuer Details</th></tr></thead>
          <tbody>
            <tr><td>Name</td><td>The Name of the Issuer</td></tr>
            <tr><td>URL</td><td><a href="#">http://issuer.org</a></td></tr>
          </tbody>
        </table>
        <table>
          <thead><tr><th colspan="2" >Badge Criteria</th></tr></thead>
          <tbody>
            <tr><td>URL</td><td><a href="#">http://issuer.org/criteria.html</a></td></tr>
          </tbody>
        </table>
        <table>
          <thead><tr><th colspan="2" >Issuance Details</th></tr></thead>
          <tbody>
            <tr><td>Recipient</td><td>someone@foo.com</td></tr>
            <tr><td>Evidence</td><td><a href="#">http://issuer.org/evidence/someone.html</a></td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="span4 column">
    Right.
  </div>
</div>
{% endblock %}
