<div class="col-lg-12">

  <div class="col-lg-3 col-md-3 col-sm-12 left-col">
    <img src="{{ badge.attributes.imageUrl }}">

    {% if badge.attributes.body.issued_on %}
      <div>Issued</div>
      <div class="date">{{badge.attributes.body.issued_on}}</div>
    {% endif %}

    {% if badge.attributes.body.expires %}
      <div>Expires</div>
      <div class="date">{{badge.attributes.body.expires}}</div>
    {% endif %}

    {% if disownable %}
      <button class='disown'>Remove this Badge <i class="fa fa-trash"></i></button>
    {% endif %}
  </div>

  <div class="col-lg-9 col-md-9 col-sm-12 right-col">
    <ul>
      <li class="header">Issuer Details</li>
      <li>
        <label>Name</label>
        <span>{{badge.attributes.body.badge.issuer.name|e}}</span>
      </li>
      <li>
        <label>URL</label>
        <span><a href="{{badge.attributes.body.badge.issuer.origin|e}}">{{badge.attributes.body.badge.issuer.origin|e}}</a></span>
      </li>
      {% if badge.attributes.body.badge.issuer.org %}
        <li>
          <label>Organization</label>
          <span>{{badge.attributes.body.badge.issuer.org|e}}</span>
        </li>
      {% endif %}
    </ul>
    <ul>
      <li class="header">Badge Details</li>
      <li>
        <label>Name</label>
        <span>{{badge.attributes.body.badge.name|e}}</span>
      </li>
      <li>
        <label>Description</label>
        <span>{{badge.attributes.body.badge.description|e}}</span>
      </li>
      <li>
        <label>Awardee</label>
        <span>{{badge.attributes.awarded_to_email_address|e}}</span>
      </li>
      <li>
        <label>Assertion</label>
        <span><a href='{{badge.attributes.endpoint|e}}'>{{badge.attributes.endpoint|e}}</a></span>
      </li>
      <li>
        <label>Criteria</label>
        <span><a href='{{badge.attributes.body.badge.criteria|e}}'>{{badge.attributes.body.badge.criteria|e}}</a></span>
      </li>
      {% if badge.attributes.body.evidence %}
        <li>
          <label>Evidence</label>
          <span><a href='{{badge.attributes.body.evidence|e}}'>{{badge.attributes.body.evidence|e}}</a></span>
        </li>
      {% endif %}
    </ul>
  </div>

</div>
