{% extends 'layout.html' %}

{% set activeNav = 'badges' %}

{% block body %}
    {% include "includes/sub-nav.html" %}
    {% if not badges.length %}
        {% include 'no-badges.html' %}
    {% else %}
        <section id="badges" class="badges">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row badge-header">
                            <div class="col-xs-12 col-sm-4 ">
                                <h1 class="section-heading">{{ sectionTitle }}</h1>
                            </div>
                            <div class="col-xs-12 col-sm-8 ">
                                <p class="strap">Welcome to your Backpack - this is where you can collect and store your badges.
                                Share your badges across the web to show off your skills and achievements. 
                                Discover badges you can <a href="https://openbadges.org/get-started/earning-badges/" aria-label="Discover badges you can earn at openbadges.org">earn</a>.</p>
                            </div>
                        </div>
                        {% for badge in badges %}
                            {% if (loop.index - 1) % 6 == 0 %}
                                <div class="row badge-list {{ badges.length }}">
                            {% endif %}
                            {% if badge.recent %}
                                <a href="/backpack/add">
                                    <div class="col-xs-6 col-md-4 col-lg-2">
                                        <img src="/images/upload.svg" />
                                        <h4>Upload a badge</h4>
                                        <h5></h5>
                                    </div>
                                </a>
                            {% else %}
                                <div class="col-xs-6 col-md-4 col-lg-2 openbadge" data-id="{{badge.attributes.id}}" data-serialization="{{badge.serializedAttributes|e}}">
                                    <img src="{{ badge.attributes.imageUrl }}" />
                                    <h4>{{ badge.attributes.body.badge.name|e }}</h4>
                                    <h5>{{ badge.attributes.body.badge.issuer.name|e }}</h5>
                                </div>
                            {% endif %}
                            {% if (loop.index) % 6 == 0 %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/js/underscore.js"></script>
    <script type="text/javascript" src="/js/backbone.js"></script>
    <script type="text/javascript" src="/js/jquery.sync.js"></script>
    <script type="text/javascript" src="/js/backpack.js"></script>
{% endblock %}
