{% extends 'layout.html' %}
{% block body %}
<form id="bake-form" class="baker form-stacked" action="/baker" method="GET">
  <fieldset>
    <label for="assertion">URL for your badge assertion</label>
    <input id="assertion" class="xlarge" type="text" value="http://badgehub.org/test/badge.json" placeholder="http://your-site.com/path-to-assertion.json" name="assertion"></input>
  </fieldset>
  <fieldset>
    <input id="submit" class="large btn btn-primary" type="submit" value="Build this badge"></input>
  </fieldset>
</form>
<div id="result"></div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/js/formatter.js"></script>
<script type="text/javascript" src="/js/baker.js"></script>
{% endblock %}
