<form id='bake-form' class='baker form-stacked' action='baker' method='GET'>
  <fieldset>
    <label for='assertion'>URL for your badge assertion</label>
    <input class='xlarge' id='assertion' name='assertion' type='text' placeholder='http://your-site.com/path-to-assertion.json' value='http://badgehub.org/test/badge.json'>
  </fieldset>
  <fieldset>
    <input class='large btn primary' id='submit' type='submit' value='Build this badge'>
  </fieldset>
</form>
<div id='result'></div>
<script type="text/javascript" src="/js/formatter.js"></script>
<script type="text/javascript" src="/js/baker.js"></script>