<div class='group {% if not attributes.id %}isNew{% endif %}'>
  <input class='groupName' type='text' value='{{name}}'>
  <span class='icon delete'>&times;</span>
  <span class='icon share' style='display: none' title='share this group'>5</span>
  
  {% if not attributes.id %}
    <h3 class='instructions'>Drag a Badge Here</h3>
  {% endif %}

  <span class='public'>
    <label>
      <input type='checkbox' class='js-privacy' {% if attributes.public %}checked{% endif %}>
      <span>public</span>
    </label>
  </span>
</div>
