<h1>Sign in with BrowserID</h1>
<a href='#' id='sign-in'><img src='https://browserid.org/i/sign_in_green.png'></a>

<form class='sign-in' method='POST' action='/sign-in'>
  <input id='browserid-assertion' name='assertion' type='hidden'>
</form>

<script type='text/javascript'>
  var login = function(){
    navigator.id.getVerifiedEmail(function(assertion) {
      if (assertion) {
        $('#browserid-assertion').val(assertion);
        $('form.sign-in').trigger('submit');
      } else {
        // pass
      }
    })
  }
  
  $('#sign-in').bind('click', login);
</script>
