<form action='/test/award' method='POST'>
  <fieldset>
    <div class='clearfix'>
      <label for='recp'>Recipient</label>
      <div class='input'>
        <input type='text' name='recp' id='recp'>
      </div>
    </div>
    
    <div class='clearfix'>
      <label for='recp'>Image URL</label>
      <div class='input'>
        <input type='text' name='image' id='image'>
      </div>
    </div>

    <div class='input'>
      <input class='btn primary' type='submit' value="Award badge">
    </div>
  </fieldset>
</form>