<div class="row" style="position: relative;">
  <div class="span4 column">
    <h1>Badges</h1>
    <div id="badges">
      <span class="openbadge">
        <img src="/images/ghost-badge.png" width="64px"/>
      </span>
    </div>
  </div>
  <div class="span8 column">
    <h1>Welcome to your Mozilla Backpack!</h1>
    <h2>So glad you could join us.</h2>

    <p>
      You're almost finished accepting your first badge! You've created
      your backpack, now return to the window where you earned your
      badge and accept it. Then when you come back here and refresh the
      page, you'll see it on the left.
    </p>
  </div>
</div>
