<!doctype html public "oh sup">
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='/css/bootstrap-1.0.0.min.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/style.css' type='text/css' media='all'>
    <title dir='ltr'>Badge Backpack | Welcome</title>
    <script type='text/javascript' src='https://browserid.org/include.js'></script>
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'></script>
  </head>
  <body>
    <div class='container'>
      <!-- make a partial? -->
        <div class='topbar'>
          <div class='fill'>
            <div class='container'>
              <h3>
                <a href='#'>Badge Backpack</a>
              </h3>
              
              <% if (user) { %>
                <form action=''>
                  <input type='text' placeholder='Filter'>
                </form>
                <ul class='nav secondary-nav'>
                  <li class='menu'>
                    <a id='user-dropdown-link' class='menu' href='#'><%= user %></a>
                    <ul id='user-dropdown' class='menu-dropdown'>
                      <li><a href='/signout'>Sign Out</a></li>
                    </ul>
                  </li>
                </ul>
              <% } %>
            
            </div>
          </div>
        </div>
      
      <%- body %>
    </div>
    <script type='text/javascript' src='/js/backpack.js'></script>
  </body>
</html>
