<!DOCTYPE html>
<html{{ htmlPrefix|default('') }}>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/tabzilla.css" media="screen" />
    <link rel="stylesheet" href="/css/backpack.min.css" type="text/css" media="all" />
    <title dir="ltr">Mozilla Backpack</title>
    <script type="text/javascript" src="/js/es5-shim.min.js"></script>
    <script type="text/javascript" src="/js/modernizr.js"></script>
    <script type="text/javascript" src="{{ getBrowserIdScriptUrl() }}"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35433268-10']);
      _gaq.push(['_setDomainName', 'openbadges.org']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% block head %}{% endblock %}
  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>
    <div id="fb-root"></div>
    {% if settings.env == 'development' %}
      <img src="/images/testribbon.png" class="test-ribbon" title="{{ settings.sha|d('') }}">
    {% endif %}

    {% include "header.html" %}

    <div id="body" class="container">
      <div class='message-container'>
      {% for e in error %}
        <div class="alert alert-danger">
          <a class="close" data-dismiss="alert">×</a>
          {{e}}
        </div>
      {% endfor %}

      {% for s in success %}
        <div class="alert alert-success">
          <a class="close" data-dismiss="alert">×</a>
          {{s}}
        </div>
      {% endfor %}

      {% for i in info %}
        <div class="alert alert-info">
          <a class="close" data-dismiss="alert">×</a>
          {{i}}
        </div>
      {% endfor %}
      </div>

      {% block body %}{% endblock %}
    </div>

    <div id="footer" class="container">
      <aside><small>
        <h2>Legal</h2>
        <ul>
          <li><a href="/tou.html" class="muted">Terms of Use</a></li>
          <li><a href="/privacy.html" class="muted">Privacy Policy</a></li>
          <li><a href="/vpat.html" class="muted">Accessibility</a></li>
        </ul>
      </small></aside>
    </div>

    <script type="text/javascript" src="/vendor/bootstrap/js/dropdown.js"></script>
    {% block scripts %}{% endblock %}

  </body>
</html>
