<!DOCTYPE html>
<html{{ htmlPrefix|default('') }}>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico">
    <link href="//www.mozilla.org/tabzilla/media/css/tabzilla.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/backpack.min.css" type="text/css" media="all" />
    <title dir="ltr">Mozilla Backpack</title>
    <script type="text/javascript" src="/js/modernizr.js"></script>
    <script type="text/javascript" src="{{ getBrowserIdScriptUrl() }}"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35433268-10']);
      _gaq.push(['_setDomainName', 'openbadges.org']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% block head %}{% endblock %}
  </head>
  <body {% if bodyClass %}class="{{bodyClass}}"{% endif %}>
    <div id="fb-root"></div>
    {% if settings.env == 'development' %}
      <img src="/images/testribbon.png" class="test-ribbon" title="{{ settings.sha|d('') }}">
    {% endif %}
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container" style="position: relative;">
          <a class="brand" href="/">
            <img src="/images/logo.png" alt="Mozilla Backpack logo" />
          </a>
          <a href="http://www.mozilla.org/" id="tabzilla">a mozilla.org joint</a>
          {% if user %}
          <ul class="nav pull-left">
            <li {% if activeNav == 'badges' %}class="active"{% endif %}>
              <a href="/" class="icon badge-link"><span>Badges</span></a>
            </li>
            <li {% if activeNav == 'collections' %}class="active"{% endif %}>
              <a href="/backpack" class="icon collection-link"><span>Collections</span></a>
            </li>
          </ul>
          {% endif %}
          <ul class="nav pull-right">
          {% if user %}
            <li class="user navbar-text">{{user.attributes.email}}</li>
            <li class="dropdown">
              <a href="#" class="icon gear-link dropdown-toggle" data-toggle="dropdown">
                <span><b class="caret"></b></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/backpack/settings">Settings</a></li>
                <li><a href="/backpack/signout">Sign Out</a></li>
              </ul>
            </li>
          {% elif bodyClass == 'login' %}
            <li><a class="js-browserid-link" href="#">Log In</a></li>
          {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div id="body" class="container">
      <div class='message-container'>
      {% for e in error %}
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert">×</a>
          {{e}}
        </div>
      {% endfor %}

      {% for s in success %}
        <div class="alert alert-success">
          <a class="close" data-dismiss="alert">×</a>
          {{s}}
        </div>
      {% endfor %}
      </div>

      {% block body %}{% endblock %}
    </div>

    <div id="footer" class="container">
      <aside><small>
        <h2>Legal</h2>
        <ul>
          <li><a href="/tou.html" class="muted">Terms of Use</a></li>
          <li><a href="/privacy.html" class="muted">Privacy Policy</a></li>
          <li><a href="/vpat.html" class="muted">Accessibility</a></li>
        </ul>
      </small></aside>
    </div>

    <script src="//www.mozilla.org/tabzilla/media/js/tabzilla.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap-dropdown.js"></script>
    {% block scripts %}{% endblock %}

  </body>
</html>
