{% extends 'layout.html' %}
{% set bodyClass = 'login' %}
{% block body %}

<div class="row">
  <div class="col-md-6">
    <img src="/images/signin-graphic.png" alt="signin graphic" class="graphic" />
  </div>
  <div class="col-md-6">
    <h1 class="title">Welcome to your Backpack</h1>
    <p class="subtitle">Celebrate your skills &amp; passions</p>

    <form action="/backpack/login" method="post">
      <input name="_csrf" type="hidden" value="{{ csrfToken }}"></input>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password">
      </div>
      <button type="submit" class="btn btn-warning btn-lg">Login</button>
      <a href="/backpack/signup" class="go-to-link">Go to signup page</a>
      <a href="/password/reset" class="reset-link">Forgotten password</a>
    </form>

  </div>
</div>

{% endblock %}
