{% extends 'layout.html' %}
{% set bodyClass = 'login' %}
{% block body %}

<section id="login" class="login cd-section">
  <div class="container">
    <div class="row double-pane">
      <div class="col-sm-4 img-part">
        <div class="welcome-message">
          <h2>Welcome</h2>
        </div>
        <div class="backpack-link">
          <img src="/images/backpack-logo.png" height="60px" />
          <a href="http://backpack.openbadges.org" target="_blank">backpack.openbadges.org</a>
        </div>
      </div>
      <div class="col-sm-12 login-part">
        <div class="migrate">
          <p>The persona.org service is shutting down. This service will be unavailable after November 30th, 2016. Please ensure you migrate before that date.</p>
          <h3>Not migrated from Persona?</h3>
          <h4>Please sign in with persona to migrate your account...</h4>
          <form id="persona-form" action="/auth/browserid" method="post" style="display:none;">
            <input type="text" name="assertion" id="persona-form-assertion" type="hidden" value=""></input>
            <input name="_csrf" type="hidden" value="{{ csrfToken }}"></input>
          </form>
          <img src="https://developer.mozilla.org/files/3969/plain_sign_in_blue.png" id="browserid"/>
        </div>
        <h3>Login <span>If you have already migrated your account, login below...</span></h3>
        <form action="/backpack/login" method="post">
          <input name="_csrf" type="hidden" value="{{ csrfToken }}"></input>
          <div class="group at">
            <input type="text" name="email" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Email</label>
          </div>
          <div class="group lock">
            <input type="password" name="password" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Password</label>
          </div>
          <input type="submit" value="login" class="btn">
          <!--  COMMENTING THESE OUT UNTIL FURTHER PASSPORT STRATEGIES ARE IMPLEMENTED
          <ul class="options">
            <li>Or sign in with</li>
            <li>
              <a href="javascript:void(0)" aria-label="Sign in with Twitter">
                <img src="/images/twitter-icon.svg" alt="Twitter icon" />
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" aria-label="Sign in with Google">
                <img src="/images/google-icon.svg" alt="Google icon" />
              </a>
            </li>  
            <li>
              <a href="javascript:void(0)" aria-label="Sign in with Facebook">
                <img src="/images/facebook-icon.svg" alt="Facebook icon" />
              </a>
            </li>  
            <li>
              <a href="javascript:void(0)" aria-label="Sign in with LinkedIn">
                <img src="/images/linkedin-icon.svg" alt="LinkedIn icon" />
              </a>
            </li>  
            <li>
              <a href="javascript:void(0)" aria-label="Sign in with Sharepoint">
                <img src="/images/sharepoint-icon.svg" alt="Sharepoint icon" />
              </a>
            </li>
          </ul>
          -->
          <div class="links">
            <a href="/backpack/signup" class="go-to-link">Go to signup page</a>
            <a href="/password/reset" class="reset-link">Forgotten password?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block scripts %}

<script src="https://login.persona.org/include.js" type="text/javascript"></script>
<script>
  $("#browserid").click(function(){
    navigator.id.get(function(assertion) {
      console.log(assertion)
      if (assertion) {
        console.log("setting")
        $("#persona-form-assertion").val(assertion);
        $("#persona-form").submit();
      } else {
        location.reload();
      }
    });
  });
</script>

{% endblock %}
