<% if (error.length > 0) { %>
   <div class='alert-message error js-alert-container'>
     <a class='close js-alert-close' href='#'>x</a>
     <p><strong>Oh no!</strong> <%= error %></p>
   </div>
<% } %>

<h1>Welcome</h1>

<h2>Use the green button in the upper right to sign in. Don&rsquo;t worry if you
don&rsquo;t have an account, that&rsquo;ll get taken care of.</h2>
