{% extends 'layout.html' %}
{% set bodyClass = 'reset' %}
{% block body %}

<section id="login" class="login cd-section">
  <div class="container">
    <div class="row double-pane">
      <div class="col-sm-4 img-part">
        <div class="welcome-message">
          <h2>Migration - Step 2</h2>
        </div>
        <div class="backpack-link">
          <img src="/images/backpack-logo.svg" height="60px" />
          <a href="http://backpack.openbadges.org" target="_blank">backpack.openbadges.org</a>
        </div>
      </div>
      <div class="col-sm-12 login-part">
        <h3>You have mail!</h3>
        <p class="migration-instructions">We have sent you an email with instructions for migrating your account.</p>
        <p class="migration-instructions">&nbsp;</p>
        <p class="migration-instructions">&nbsp;</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
