<section id="badges" class="badges">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row badge-header">
                    <div class="col-xs-12 col-sm-12 ">
                        <h1 class="section-heading">It's time to start earning open badges!</h1>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <p class="left">Welcome to your Backpack - this is where you can collect and store your badges.
                        Share your badges across the web to show off your skills and achievements. 
                        Discover badges you can <a href="https://openbadges.org/get-started/earning-badges/" aria-label="Discover badges you can earn at openbadges.org">earn</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
