<section id="badges" class="badges">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row badge-header">
                    <div class="col-xs-12 col-sm-12 ">
                        <h1 class="section-heading">It's time to start earning open badges!</h1>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <p class="left">You might explore <a href="http://badges.webmaker.org">Webmaker Badges</a> as well as thousands of <a href="https://wiki.mozilla.org/Badges/Issuers">other offerings from  badge issuers.</a></p>
                        <p class="left">You can also manually <a href="/backpack/add" class="add-openbadge">upload</a> any of the open badges you've earned.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
