{% extends 'layout.html' %}
{% block body %}
<form class='portfolio' action='/share/{{portfolio.group.attributes.url}}/' method='post'>
  <input type='hidden' name='_csrf' value='{{csrfToken}}'>
  <input type='hidden' name='id' value='{{portfolio.attributes.id}}'>
  <input type='hidden' name='group_id' value='{{group.attributes.id}}'>
  <input type='hidden' name='url' value='{{groups.attributes.url}}'>
  <header>
    <input tabindex=1 name='title' class='field title' value='{{portfolio.attributes.title}}'>
    <input tabindex=1 name='subtitle' class='field subtitle' placeholder='Optional subtitle' value='{{portfolio.attributes.subtitle}}'>
  </header>

  <ul class='badges'>
    {% for badge in portfolio.badges %}
      <li>
        <h3>{{badge.attributes.body.badge.name}}</h3>

        <textarea name='stories[{{badge.attributes.body.id}}]' tabindex=1 class='story' placeholder='some information about this badge'>{{badge.attributes.body._userStory}}</textarea>

        <table class='information'>
          <tr>
            <td rowspan="100" class='image'>
              <img src="{{badge.attributes.image_path}}">
            </td>
            <td class='section-head' colspan='2'>Issuer Details</td>
          </tr>
          <tr>
            <td class='fieldlabel issuer-name'>Name</td>
            <td>{{badge.attributes.body.badge.issuer.name}}</td>
          </tr>
          <tr>
            <td class='fieldlabel issuer-name'>URL</td>
            <td><a href="{{badge.attributes.body.badge.issuer.origin}}">{{badge.attributes.body.badge.issuer.origin}}</a></td>
          </tr>
          {% if badge.attributes.body.badge.issuer.org %}
          <tr>
            <td class='fieldlabel issuer-name'>Organization</td>
            <td>{{badge.attributes.body.badge.issuer.org}}</td>
          </tr>
          {% endif %}

          <tr>
            <td class='section-head' colspan='2'>Badge Details</td>
          </tr>
          <tr>
            <td class='fieldlabel'>Name</td>
            <td>{{badge.attributes.body.badge.name}}</td>
          </tr>
          <tr>
            <td class='fieldlabel'>Description</td>
            <td>{{badge.attributes.body.badge.description}}</td>
          </tr>
          <tr>
            <td class='fieldlabel'>Criteria</td>
            <td><a href='{{badge.attributes.body.badge.criteria}}'>{{badge.attributes.body.badge.criteria}}</a></td>
          </tr>

          {% if evidence %}
          <tr>
            <td class='fieldlabel evidence'>Evidence</td>
            <td><a href='{{badge.attributes.body.evidence}}'>{{badge.attributes.body.evidence}}</a></td>
          </tr>
          {% endif %}

          {% if issued_on %}
          <tr>
            <td class='fieldlabel'>Issued</td>
            <td>{{badge.attributes.body.issued_on}}</td>
          </tr>
          {% endif %}

          {% if expires %}
          <tr>
            <td class='fieldlabel'>Expiration</td>
            <td>{{badge.attributes.body.expires}}</td>
          </tr>
          {% endif %}

        </table>
      </li>
    {% endfor %}
  </ul>
  
  <div class='save actions'>
    <input tabindex=1 class='btn btn-primary btn-large save' type='submit' value='Save this page'>
  </div>

  <script>
    $('form.portfolio').on('submit', function(e){
      e.preventDefault();
      return false;
    });
    $('input.save').on('click', function(e){
      $('form.portfolio')[0].submit();
    })
  </script>
</form>
{% endblock %}
