{% extends 'layout.html' %}
{% set bodyClass = 'reset' %}
{% block body %}

<section id="reset" class="reset cd-section">
  <div class="container">
    <div class="row double-pane">
      <div class="col-sm-4 img-part">
        <div class="welcome-message">
          <h2>Reset Password</h2>
        </div>
        <div class="backpack-link">
          <img src="/images/backpack-logo.svg" height="60px" />
          <a href="http://backpack.openbadges.org" target="_blank">backpack.openbadges.org</a>
        </div>
      </div>
      <div class="col-sm-12 reset-part">
        <h3>Enter your email below</h3>
        <form action="/password/reset" method="post">
          <input name="_csrf" type="hidden" value="{{ csrfToken }}"></input>
          <div class="group at">
            <input type="text" name="email" required>
            <span class="bar"></span>
            <label>Email</label>
          </div>
          <input type="submit" value="Reset" class="btn">
          <div class="links">
            <a href="/backpack/login" class="go-to-link">Go to login page</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
