{% extends 'layout.html' %}
{% set bodyClass = 'login' %}
{% block body %}

<div class="row">
  <div class="col-md-6">
    <img src="/images/signin-graphic.png" alt="signin graphic" class="graphic" />
  </div>
  <div class="col-md-6">
    <h1 class="title">Reset your password</h1>

    <form action="/password/update" method="post">
      <input name="_csrf" type="hidden" value="{{ csrfToken }}"></input>
      <input name="token" type="hidden" value="{{ token }}"></input>
      <div class="form-group">
        <label>New Password</label>
        <input type="password" class="form-control" name="password">
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" name="confirm">
      </div>
      <button type="submit" class="btn btn-warning">Set New Password</button>
    </form>

  </div>
</div>

{% endblock %}
