{% extends 'layout.html' %}
{% set bodyClass = 'reset' %}
{% block body %}

<section id="signup" class="signup cd-section">
  <div class="container">
    <div class="row double-pane">
      <div class="col-sm-4 img-part">
        <div class="welcome-message">
          <h2>Reset Password</h2>
        </div>
        <div class="backpack-link">
          <img src="/images/backpack-logo.svg" height="60px" />
          <a href="http://backpack.openbadges.org" target="_blank">backpack.openbadges.org</a>
        </div>
      </div>
      <div class="col-sm-12 signup-part">
        <h3>Enter your new password</h3>
        <form action="/password/update" method="post">
          <input name="_csrf" type="hidden" value="{{ csrfToken }}"></input>
          <input name="token" type="hidden" value="{{ token }}"></input>
          <div class="group lock">
            <input type="password" name="password" required>
            <span class="bar"></span>
            <label>Password</label>
          </div>
          <div class="group lock">
            <input type="password" name="confirm" required>
            <span class="bar"></span>
            <label>Confirm</label>
          </div>
          {% include "includes/password-requirements.html" %}
          <input type="submit" value="set new password" class="btn password-check" disabled="true">
          <div class="links">
            <a href="/backpack/login" class="go-to-link">Go to login page</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block scripts %}
  <script src="/js/owasp-password-strength-test.js"></script>
  <script src="/js/password-check.js"></script>
{% endblock %}
