{% extends 'layout.html' %}

{% block body %}
<section class="page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row badge-header">
                    <div class="col-xs-12 col-sm-3 ">
                        <h2 class="section-heading">User Profile</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-6">
                <form action="/user/profile" method="post">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <div class="group">
                        <input type="password" class="form-control" name="password" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Password</label>
                    </div>
                    <div class="group">
                        <input type="password" class="form-control" name="confirm" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Confirm</label>
                    </div>
                    <input class="btn btn-primary btn-outline " type="submit" value="Upload">
                </form>
            </div>
        </div>
</section>
{% endblock %}

