{% extends 'layout.html' %}

{% block body %}
<div class="pushdown">
    <section class="page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row badge-header">
                        <div class="col-xs-12 col-sm-12">
                            <h1 class="section-heading">User Profile</h1>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <legend>Name</legend>
                    <form action="/user/profile/update-name" method="post">
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control" name="first_name" value="{{ user.attributes.first_name }}">
                            <span class="bar"></span>
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" name="last_name" value="{{ user.attributes.last_name }}">
                            <span class="bar"></span>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary btn-outline" type="submit" value="Update Name">
                        </div>
                    </form>

                    <legend class="push">Associated Email Addresses</legend>
                    <div>
                        <table class="associated-emails">
                            <thead>
                                <tr>
                                    <th>Email Address</th>
                                    <th>Verified</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        {{ user.attributes.email }} <span class="primary">Primary</span>

                                        {% if not user.attributes.email_is_verified %}
                                            <p class="warn">
                                                You have not yet verified ownership of this email address.  Please <a href="#" class="verify-email" data-toggle="modal" data-target="#verify-primary-email" aria-label="Verify now">verify ownership</a>. 
                                            </p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if user.attributes.email_is_verified %}
                                            <i class="fa fa-check verified"></i>
                                        {% else %}
                                            <i class="fa fa-times not-verified"></i>
                                        {% endif %}
                                    </td>
                                    <td>-</td>
                                </tr>
                                {% for n in [1,2] %}
                                    {% if user.attributes['additional_email_' ~ n] %}
                                        <tr>
                                            <td>
                                                {{ user.attributes['additional_email_' ~ n] }}

                                                {% if not user.attributes['additional_email_' ~ n ~ '_is_verified'] %}
                                                    <p class="warn">
                                                        You have not yet verified ownership of this email address.  You can not receive badges meant for this email address, nor can you login with this email address, until you <a href="#" class="verify-email" data-toggle="modal" data-target="#verify-{{ n }}" aria-label="Verify now">verify ownership</a>. 
                                                    </p>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if user.attributes['additional_email_' ~ n ~ '_is_verified'] %}
                                                    <i class="fa fa-check verified"></i>
                                                {% else %}
                                                    <i class="fa fa-times not-verified"></i>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <form action="/user/profile/remove-additional-email" method="post">
                                                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                                                    <input type="hidden" name="additional_email_{{ n }}" value="1">
                                                    <input class="btn btn-primary btn-outline" type="submit" value="Remove">
                                                </form>
                                            </td>
                                        </tr>
                                        <div id="verify-{{ n }}" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"><img src="/images/cross.svg" alt="Close modal"></button>
                                                        <h4 class="modal-title">Email Address Ownership Verification</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>You should have received an email with a code in it, if you haven't 
                                                            <a href="#" class="send-email-address-verification-email" data-email-col="{% if n == 1 %}additional_email_1{% else %}additional_email_2{% endif %}" aria-label="Click here to verify your email address">click here</a>.  
                                                            Then, paste the code you receive in the field below and then click the 'VERIFY' button.
                                                        </p>
                                                        <form action="/user/profile/verify-email" method="post">
                                                            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                                                            <input type="hidden" name="additional_email_{{ n }}" value="{{ user.attributes['additional_email_' ~ n] }}">
                                                            <div class="form-group">
                                                                <label>Code</label>
                                                                <input type="text" class="form-control" name="additional_email_{{ n }}_verification_code" required>
                                                                <span class="bar"></span>
                                                            </div>
                                                            <input class="btn btn-primary btn-outline" type="submit" value="Verify">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% if not user.attributes.additional_email_1 or not user.attributes.additional_email_2 %}
                        <legend>Associate an Email Address</legend>
                        <div>
                            <table class="associate-email">
                                <tbody>
                                    {% if not user.attributes.additional_email_1 %}
                                        <tr>
                                            <form action="/user/profile/add-additional-email" method="post">
                                                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                                                <td>
                                                    <div>
                                                        <input type="text" class="form-control" name="additional_email_1" required>
                                                        <span class="bar"></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input class="btn btn-primary btn-outline" type="submit" value="Add">
                                                </td>
                                            </form>
                                        </tr>
                                    {% elif not user.attributes.additional_email_2 %}
                                        <tr>
                                            <form action="/user/profile/add-additional-email" method="post">
                                                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                                                <td>
                                                    <div>
                                                        <input type="text" class="form-control" name="additional_email_2" required>
                                                        <span class="bar"></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input class="btn btn-primary btn-outline" type="submit" value="Add">
                                                </td>
                                            </form>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p class="info">No further additional emails may be added to this account.</p>
                    {% endif %}
                </div>
                <div class="col-xs-12 col-lg-6 change-password">
                    <legend>Change Password</legend>
                    <form action="/user/profile/change-password" method="post">
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" required>
                            <span class="bar"></span>
                        </div>
                        <div class="form-group">
                            <label>Confirm</label>
                            <input type="password" class="form-control" name="confirm" required>
                            <span class="bar"></span>
                        </div>
                        {% include "includes/password-requirements.html" %}
                        <div class="form-group">
                            <input class="btn btn-primary btn-outline password-check" type="submit" value="Update Password" disabled="true">
                        </div>
                    </form>

                    <div class="delete-account push">
                        <legend>Delete Account</legend>
                        <p>If you wish to delete your account permanently, click the button below and we will send you a code in 
                        an email to your primary email address. You can then enter the code in the field that subsequently appears 
                        below to delete the account.</p>
                        <p>Please note: If you delete your account, all associated data will be removed from the database, 
                        including badges, badge collections and Backpack Connect sessions.</p>
                        <form action="/user/profile/request-account-deletion-code" method="post">
                            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                            <div class="form-group">
                                <input class="btn btn-danger btn-outline" type="submit" value="Request {% if user.attributes.delete_account_code_requested %}Another {% endif %}Account Deletion Code">
                            </div>
                        </form>
                        {% if user.attributes.delete_account_code_requested %}
                            <form action="/user/profile/delete-account" method="post">
                                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="delete_account_code" placeholder="Paste your deletion code here" required>
                                    <input class="btn btn-danger btn-outline" type="submit" value="Delete Account">
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block scripts %}
    <script src="/js/owasp-password-strength-test.js"></script>
    <script src="/js/password-check.js"></script>
{% endblock %}
