{% extends "base.html" %}
{% block title %} | Manager{% endblock %}
{% block content %}
  <header>
    <h1 class="masthead">
      <a id='logout' href="logout">Logout</a>    
      {{ user.email }}
    </h1>
  </header>
  
  <div class="main">
    <h2>You have {{ badges.count }} badges.</h2>
    <ul id='badges'>
      {% for badge in badges %}
       <li>
         <section class='badge'>
           <h1>{{ badge.name }}</h1>
           <img class='icon' src='{{ badge.image }}'>
           <ul>
             <li>Issued by <strong><a href="{{ badge.issuer }}">{{ badge.issuer }}</a></strong></li>
             <li>Described as <em>"{{ badge.description }}"</em></li>
             <li>Evidenced by <a href="{{ badge.evidence }}">{{ badge.evidence }}</a></li>
           </ul>
         </section>
       </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}