{% extends "base.html" %}
{% block title %} | Manager{% endblock %}
{% block content %}
  <header>
    <h1>
      <a id='logout' href="logout">Logout</a>    
      {{ user.email }}
    </h1>
  </header>
  
  <div class="main">
    <h2>You have {{ badges.count }} badges.</h2>
    <ul>
      {% for badge in badges %}
       <li>
         <ul>
           <li>{{ badge.url }}</li>
           <li>{{ badge.name }}</li>
           <li>{{ badge.description }}</li>
           <li>{{ badge.image }}</li>
           <li>{{ badge.evidence }}</li>
         </ul>
       </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}