{% extends 'layout.html' %}

{% block body %}
<div class="hero-unit">
  <h1>Page Not Found</h1>
  <p>Unfortunately the page you're looking for doesn't appear to exist.</p>
  <p><strong>This might be because:</strong></p>
  <ul>
    <li>The page may have been moved, updated or deleted</li>
    <li>If you clicked on a link, it may be out of date... or just wrong!</li>
    <li>There might be typing error in the web address</li>
  </ul>
  <p><a href="/" class="btn btn-large">Go Home</a></p>
</div>
{% endblock %}