@import "badgetastic";

@import "groups";
@import "font-faces";
@import "devsite";
@import "persona-buttons";  /* Don't edit directly */
@import "login";
@import "navbar";
@import "lightbox";

.persona-button {

  &:hover {
    color: #fff;
  }

  &.big {
    font-size: 20px;

    span {
      padding-left: 44px;
    }

    &:before {
      left: 6px;
    }
  }
}


html {
  height: 100%;
}
body {
  height: 101%;
}
#body {
  padding-top: 20px;
}
h1 {
  margin-bottom: 18px;
}
form.signin { display: none; }
form.baker label {
  font-size: 18px;
  line-height: 24px;
}
form.baker #assertion {
  font-size: 22px;
  height: 30px;
  width: 650px;
}
.badge-details {
  color: #333;
  font-size: 16px;
}

.badge-details dd {
  padding: 3px 0 6px;
}

#moztab {
  background-image: url('/images/icons-sprite.png');
  height: 49px;
  width: 118px;
  text-indent: -999em;
  position: absolute;
  right: 10px;
  top: 0px;
  overflow: hidden;
  display: block;
}
.navbar {
  border-top: 2px solid #fff;
}
.navbar .container {
  max-width: 940px;
}
.navbar .user {
  padding-right: 0;
  text-decoration: none;
}
.modal {
  display: none;
}
.env {
  display: block;
  text-align: right;
  color: yellow;
  font-weight: 100;
}

#footer {
  margin-top: 20px;
  padding: 20px 0;
  text-align: right;
}
#footer ul {
  margin: 0;
}
#footer ul li {
  display: inline-block;
  border-left: 1px solid #999;
  padding: 0 10px;
  margin: 0;
}
#footer ul li:first-child {
  border-left: none;
  margin-left: 0;
  padding-left: 0;
}
#footer h2 {
  display: none;
}
#footer aside {
  font-size: 0.85em;
}

.openbadge {
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}

.openbadge img {
  /* fixes IE8 massive img in collection bug: https://github.com/mozilla/openbadges/issues/971 */
  max-width: none;
  width: 64px;
}

.openbadge:active {
  outline: none;
}

.badge-nav-mixin (@font-size: 1.25em){
  text-align: center;
  font-size: @font-size;
  margin-bottom: 2em;
  color: @grayLight;

  a {
    color: inherit;
    display: inline-block;
    margin: 0 1em;

    &.selected {
      color: @textColor;
    }
  }
}

.badge-nav {
  .badge-nav-mixin;
}

.badge-nav-sub {
  .badge-nav-mixin(1em);
}


.badge-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 20px;
  }

  .openbadge,
  .add-openbadge {
    display: block;
    background: #FFF;
    border: solid 1px #8D8D8D;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 2px #999;

    img {
      display: block;
      margin: 0 auto 20px;
      width: auto;
      height: 64px;
    }

    .title,
    .issuer {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .title {
      margin: 0;
    }

    .issuer {
      margin: 10px -20px -20px;
      background: #FAB142;
      font-size: 0.8em;
    }
  }

  .add-openbadge {
    background: none;
    color: inherit;
    font-weight: bold;
    border: dashed 3px #8F8F8F;
    box-shadow: none;

    .issuer {
      background: none;
      margin-top: 6px;
    }
  }
}

[draggable=true] {
  -khtml-user-drag: element;
}

table.information {
  table-layout: fixed;
  word-wrap: break-word;
  margin-bottom: 0;
  padding: 10px 3px;
  border-collapse: separate;
  font-size: 13px;
}

.information td {
  border: 0;
  padding: 2px 12px;
}

.information .fieldLabelCol {
  width: 120px;
}

.information td.fieldlabel {
  white-space: nowrap;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
}

.information td.fieldlabel:after {
  position: absolute;
  margin-left: 4px;
  margin-top: 1px;
  content: "—";
  font-weight: normal;
  color: #bbb;
  z-index: 5;
}

.information td.section-head {
  color: #999;
  border-bottom: 1px solid #ccc;
  line-height: 1.5em;
  padding-left: 0;
}

.information .image {
  text-align: center;
  vertical-align: middle;
}

.information .imageCol {
  width: 148px;
}
.information img {
  max-height: 128px;
  max-width: 128px;
  margin: auto;
}

.information .btn {
  margin-top: 16px;
}

.portfolio div.edit {
  text-align: right;
}

.portfolio ul {
  list-style: none;
  margin: 20px auto;
}
.portfolio ul li {
  clear: both;
}

.portfolio .story {
  float: right;
  width: 350px;
  margin-top: 20px;
  min-height: 200px;
  font-size: 1.3em;
  line-height: 1.5em;
  color: #555;
}

.portfolio table.information {
  width: 550px;
}

.portfolio input, .portfolio textarea {
  border: 1px solid #eee;
}
.portfolio input.field:hover, .portfolio textarea:hover {
  background: none;
  border: 1px solid #555;
}
.portfolio input.field:focus, .portfolio textarea:focus {
  border: 1px solid #bbb;
}
.portfolio .title {
  display: block;
  margin-bottom: 18px;
  font-size: 30px;
  line-height: 36px;
  height: 36px;
  width: 600px;
}
.portfolio .subtitle {
  display: block;
  width: 600px;
  font-size: 24px;
  line-height: 36px;
  height: 36px;
}
.portfolio .preamble {
  font-size: 1.3em;
  line-height: 1.5em;
  color: #555;
  margin-top: 0.5em;
  width: 99%;
}
.portfolio .save {
  text-align: right;
}
.portfolio .save input {
  text-align: center;
}

.portfolio h3 {
  background: #ddd;
  padding: 3px 10px;
  border-radius: 5px;
  margin: 45px 0 0;
  text-shadow: 1px 1px 2px #fff;
  box-shadow: 1px 1px 1px #aaa;
}
.alert {
  overflow: hidden;
}

#validator textarea {
  width: 600px;
  height: 300px;
}

#validator .submit {
  margin: 1em 0;
}

#validator h2 {
  margin: 0.25em 0;
}

#validator li strong {
  color: #d00;
}

#converter {
  text-align: center;
}

#converter .alert {
  display: none;
}

#converter input {
  font-size: 2em;
}

#converter .submit input {
  width: 200px;
}

#converter .input input {
  height: 36px;
  vertical-align: middle;
  text-align: center;
}

#converter .email {
  width: 400px;
}

#converter .userid {
  width: 100px;
}

#converter .arrow {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  padding: 0 12px;
}
body {
  cursor: default;
}


/**
  badge "popinfo" multi block styling (description span + issuer span)
**/
.popover-content p span {
  display: block;
}

.popover-content p span + span {
  margin-top: 1em;
}

/**
  Settings page
**/

form.settings fieldset {
  margin-bottom: 4em;
}

form.settings .item {
  overflow: hidden;
  padding: 17px 20px 18px;
  background-color: #F5F5F5;
  border-top: 1px solid #E7E7E7;
}

form.settings .item .btn {
  margin-left: 1em;
}

form.settings .item .title {
  font-weight: bold;
  font-size: inherit;
  float: left;
  padding: 0.25em 0;
}

form.settings .item .content {
  float: right;
}

form.settings .item .secondary {
  clear: both;
  float: left;
  width: 100%;
  box-sizing: border-box;
  border-top: solid 1px #DDD;
  background: #EEE;
  margin-top: 17px;
  padding: 17px 20px 18px;
}

form.settings .status {
  font-weight: normal;
  color: #CCC;
  text-transform: uppercase;
  margin-left: 1em;
  text-shadow: 1px 1px 1px #FFF;
}

/**
  form controls
**/
.slider {
  padding-left: 18px;
  margin-bottom: 0;
}

.slider.full {
  display: block;
  padding: 0.25em 0;
}

.slider input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}

.slider.full input[type="checkbox"] {
  float: right;
}

.slider input[type="checkbox"]:checked,
.slider input[type="checkbox"]:not(:checked) {
  float: left;
  margin-left: -999em;
}

.slider input[type="checkbox"]:focus + span {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.slider.full input[type="checkbox"]:checked + span,
.slider.full input[type="checkbox"]:not(:checked) + span {
  float: right;
  margin-top: -0.25em;
}

.slider input[type="checkbox"]:checked + span,
.slider input[type="checkbox"]:not(:checked) + span {
  display: inline-block;
  overflow: hidden;
  margin: 0 0 0 1em;
  vertical-align: middle;
  position: relative;
  width: 4.5em;
  padding: 0.25em 0.5em;
  overflow: hidden;
  font-weight: bold;
  text-transform: uppercase;
  border: solid 1px #CCC;
  border-radius: 4px;
  box-shadow: inset 1px 3px 5px 1px rgba(0,0,0,0.125);
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(bottom, #FFFFFF, #E6E6E6);
  background-image: -ms-linear-gradient(bottom, #FFFFFF, #E6E6E6);
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#FFFFFF), to(#E6E6E6));
  background-image: -webkit-linear-gradient(bottom, #FFFFFF, #E6E6E6);
  background-image: -o-linear-gradient(bottom, #FFFFFF, #E6E6E6);
  background-image: linear-gradient(bottom, #FFFFFF, #E6E6E6);
  color: #888;
  text-shadow: 1px 1px 1px #FFF;
}

.slider input[type="checkbox"][disabled] + span {
  opacity: 0.65;
  cursor: not-allowed;
}

.slider input[type="checkbox"]:checked + span {
  background-color: #0074CC;
  background-image: -moz-linear-gradient(bottom, #0088CC, #0055CC);
  background-image: -ms-linear-gradient(bottom, #0088CC, #0055CC);
  background-image: -webkit-gradient(linear, 0 100%, 0 0, FROM(#0088CC), TO(#0055CC));
  background-image: -webkit-linear-gradient(bottom, #0088CC, #0055CC);
  background-image: -o-linear-gradient(bottom, #0088CC, #0055CC);
  background-image: linear-gradient(bottom, #0088CC, #0055CC);
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.slider input[type="checkbox"][disabled]:checked + span {
  background: #0055cc;
}

.slider input[type="checkbox"]:checked + span::before {
  content: attr(data-on);
}

.slider input[type="checkbox"]:not(:checked) + span::before {
  content: attr(data-off);
  float: right;
}

.slider input[type="checkbox"]:checked + span::after,
.slider input[type="checkbox"]:not(:checked) + span::after {
  content: "";
  position: absolute;
  top: 0;
  padding: 0 0.25em;
  width: 33.33%;
  height: 100%;
  margin-top: -1px;
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(bottom, #FFFFFF, #E6E6E6);
  background-image: -ms-linear-gradient(bottom, #FFFFFF, #E6E6E6);
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#FFFFFF), to(#E6E6E6));
  background-image: -webkit-linear-gradient(bottom, #FFFFFF, #E6E6E6);
  background-image: -o-linear-gradient(bottom, #FFFFFF, #E6E6E6);
  background-image: linear-gradient(bottom, #FFFFFF, #E6E6E6);
  background-repeat: repeat-x;
  border: solid 1px #CCC;
  border-radius: 4px;
  float: left;
  box-shadow: inset 1px 1px 1px #FFF;
}

.slider input[type="checkbox"] + span:hover::after {
  background-color: #E6E6E6;
  background-position: 0 15px;
  /* One day more browsers might actually support transitions on generated content! */
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

.slider input[type="checkbox"]:checked + span::after {
  margin-right: -1px;
  right: 0;
}

.slider input[type="checkbox"]:not(:checked) + span::after {
  margin-left: -1px;
  left: 0;
}
