/**
  Login page
**/

.login {
  background: #043D5D;

  #body {
    background: url(/images/sign-in-art.png) no-repeat left top;
    background-size: contain;
    padding-top: 410px;
    text-align: center;
  }

  .title {
    color: whitesmoke;
    margin-bottom: 0.1em;
    font-size: 2.1em;
  }

  .subtitle {
    color: whitesmoke;
    font-weight: 100;
    font-size: 1.2em;
  }

  .persona-button {
    width: 120px;
  }
}
