// Swatch 2.2.2
// Bootswatch
// -----------------------------------------------------


// TYPOGRAPHY
// -----------------------------------------------------
@import "font-faces";

// SCAFFOLDING
// -----------------------------------------------------

body {
  background: #F9F9F9 url(../images/bg-stone.png) 50% 40px repeat-x;
}

a:hover,
a:focus {
  text-decoration: none;
}

// NAVBAR
// -----------------------------------------------------

.navbar-inner {
  border-top: 0; /* for tabzilla */
}

.navbar .container {
  max-width: 940px;
}

.navbar .brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar .nav > li > a,
.navbar .navbar-text {
  @navIconHeight: 45px;
  @bottom-padding: 0;
  padding: (@navbarHeight - @navIconHeight - @bottom-padding) 15px @bottom-padding;
  line-height: @navIconHeight;
}

// NAV
// -----------------------------------------------------

// BUTTONS
// -----------------------------------------------------

.btn-link:hover,
.btn-link:focus {
  text-decoration: none;
}

// TABLES
// -----------------------------------------------------

// FORMS
// -----------------------------------------------------

// DROPDOWNS
// -----------------------------------------------------

.caret {
  vertical-align: text-top;
}

// ALERTS, LABELS, BADGES
// -----------------------------------------------------

// MISC
// -----------------------------------------------------

// MEDIA QUERIES
// -----------------------------------------------------
