// Swatch 2.2.2
// Bootswatch
// -----------------------------------------------------


// TYPOGRAPHY
// -----------------------------------------------------
@import "font-faces";

// SCAFFOLDING
// -----------------------------------------------------

body {
  background: #F9F9F9 url(../images/bg-stone.png) 50% 40px repeat-x;
}

a:hover,
a:focus {
  text-decoration: none;
}

// NAVBAR
// -----------------------------------------------------

.navbar-inner {
  border-top: 0; /* for tabzilla */
}

.navbar .container {
  max-width: 940px;
}

// NAV
// -----------------------------------------------------

// BUTTONS
// -----------------------------------------------------

.btn-link:hover,
.btn-link:focus {
  text-decoration: none;
}

// TABLES
// -----------------------------------------------------

// FORMS
// -----------------------------------------------------

// DROPDOWNS
// -----------------------------------------------------

// ALERTS, LABELS, BADGES
// -----------------------------------------------------

// MISC
// -----------------------------------------------------

// MEDIA QUERIES
// -----------------------------------------------------
