body {
  padding-top: 60px;
  max-width: 660px;
  margin: 0 auto;
}

#welcome .badge-count,
#welcome .host,
#welcome .email {
  font-weight: bold;
}

.logged-in, .logged-out {
  display: none;
}

.navbar {
  border-top: none;
}

.navbar .brand {
  position: relative;
  top: -3px;
}

.navbar #moztab {
  right: 40px;
}

.navbar .closeFrame {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
  text-shadow: none;
}
.navbar .closeFrame:hover {
  opacity: 0.8;
  text-decoration: none;
}

.navbar-inner {
  height: 32px;
}

#ajax-loader {
  padding-top: 7px;
  display: none;
}

.badge-image {
  max-width: 100%;
}
