body {
  padding-top: 60px;
}

.logged-in, .logged-out {
  display: none;
}

.navbar {
  border-top: none;
}

.navbar #moztab {
  right: 40px;
}

.topbar .closeFrame {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 20px;
}

#ajax-loader {
  padding-top: 7px;
  display: none;
}

.badge-image {
  max-width: 100%;
}
