.shareMessage {
  float: right;
  margin-right: 25%;
  font-size: 110%;
  font-weight: bold;
}

.socialshare {
  float: left;
  text-shadow: 2px 2px 4px rgba(0, 200, 160, 0.2);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-right: -2em;
}

.socialshare:focus {
  outline: 0;
}

.socialshare span.msg {
  cursor: pointer;
  display: table-cell;
  border-bottom: 1px dotted #00A5DA;
}

.social-medium {
  display: table-cell;
  vertical-align: top;
  height: 20px;
}

.social-medium + .social-medium {
  padding-left: 1em;
}

.social-medium iframe {
  height: 20px;
  box-shadow: 4px 4px 3px rgba(100, 190, 180, 0.2);
  background-color: rgba(100, 190, 180, 0.2);
}

/* override on the alert styling, since visibility should not be hidden */

.portfolio .message-container .alert {
  overflow: visible !important;
  min-height: 1.5em;
}

/* override for the facebook iframe when there's a widget box, for non-blue/shadowed element */

.fb_iframe_widget_lift {
  background-color: transparent !important;
  box-shadow: none !important;
}
