html {
  background: #fff url('/images/stripes.png') repeat-x;
}
body {
  background: transparent;
}
#body {
  padding-top: 60px;
}
form.signin { display: none; }
form.baker label {
  font-size: 18px;
  line-height: 24px;
}
form.baker #assertion {
  font-size: 22px;
  height: 30px;
  width: 650px;
}
.management .groups {
  margin: 20px 0 0;
}
.management .groups .clearfix {
  margin-bottom: 10px;
}
.management .groups input.mini {
  width: 128px;
  color: #333;
}
.management .groups input.mini {
}
.management .or {
  font-size: 14px;
  padding: 6px 20px;
}
.badge-details {
  color: #333;
  font-size: 16px;
}
.badge-details dd {
  padding: 3px 0 6px;
}
#moztab {
  background-image: url('/images/icons-sprite.png');
  height: 49px;
  width: 118px;
  text-indent: -999em;
  position: absolute;
  right: 10px;
  top: 0px;
  overflow: hidden;
  display: block;
}
.topbar .topbar-inner {
  height: 30px;
}
.topbar h3 {
  top: -3px;
}
.topbar .nav {
  top: -5px;
}
 
.topbar h3 a {
  font-size: 18px;
}
.blanker {
  display: none;
  position: absolute;
  opacity: 0.3;
  background: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal {
  display: none;
}