{% extends "base.html" %}
{% block title %} | Login{% endblock %}
{% block content %}
  <h1>Log in With BrowserID</h1>
  {{ message }}
  <form action="" method="post" id="assertion_form">
    {% csrf_token %}
    <input type="hidden" name="assertion" id="assertion"/>
  </form>
  <input type='image' src='/media/images/sign_in.png' id='sign_in'/>
  <script>
    function sign_in() {
      navigator.id.getVerifiedEmail(function(assertion) {
        if (assertion) {
            // This code will be invoked once the user has successfully
            // selected an email address they control to sign in with.
            console.log(assertion);
            $('#assertion').val(assertion);
            $('#assertion_form').submit();
        } else {
            // something went wrong!  the user isn't logged in.
        }
      });
    }
    $('#sign_in').bind('click', sign_in);
  </script>
{% endblock %}